app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
bin/
test_db/
!test_db/.gitkeep
bower_components/
coverage/
node_modules/
vendor/
web/bundles/
web/css/
web/js/
web/templates/
