{% extends '::base.html.twig' %}

{% block body %}

    <md-toolbar layout="row">
        <h1>Band accounting</h1>
    </md-toolbar>

    <div layout="column">

        <div layout="column" layout-padding ng-cloak>
            <br/>
            <md-content class="autoScroll">

                <activity-directive></activity-directive>

            </md-content>
        </div>


        <div layout="row" class="total">
            {#Total: {{ total }} €#}
        </div>

        <activities-list-directive></activities-list-directive>

    </div>

{% endblock body %}