<div class="menu">
    <md-menu>
        <md-button aria-label="Options" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
            <i class="material-icons">menu</i>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="currentTerm()">
                    Current term
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="twoTerms()">
                    2 terms
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="lastYear()">
                    Last year
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>