<div id="totals">
    <ul>
        <li layout-gt-sm="row">
            <div>Income:</div>
            <div ng-class="'pos-font'">{{ income | currency : '€' }}</div>
        </li>
        <li layout-gt-sm="row" >
            <div>Expenses:</div>
            <div ng-class="'neg-font'">{{ expenses | currency : '€' }}</div>
        </li>
        <li layout-gt-sm="row" >
            <div>Total:</div>
            <div ng-class="{ 'pos-font': total >= 0, 'neg-font': total < 0 }">{{ total | currency : '€' }}</div>
        </li>
    </ul>
</div>

<md-toolbar id="activities-header" class="md-hue-3">
    <div layout="row" class="md-toolbar-tools" layout-align="space-between center">
        <div ng-attr-flex="{{ $mdMedia('gt-sm') && 15 || 33 }}" layout="row" layout-align="center">
            Date value
        </div>
        <div flex="15" layout="row" layout-align="center" ng-show="$mdMedia('gt-sm')">
            Date
        </div>
        <div ng-attr-flex="{{ $mdMedia('gt-sm') && 55 || 33 }}" layout="row" layout-align="center">
            Concept
        </div>
        <div ng-attr-flex="{{ $mdMedia('gt-sm') && 15 || 33 }}" layout="row" layout-align="center">
            Amount
        </div>
    </div>
</md-toolbar>

<div id="activities-spinner" layout="row" layout-align="space-around" ng-hide="status === 'COMPLETE'">
    <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
</div>

<md-list>
    <md-list-item ng-if="status == 'COMPLETE' && !activities.length">
        <div layout="row" layout-fill layout-padding layout-align="center" class="empty-list">
            No activities available
        </div>
    </md-list-item>

    <md-list-item ng-repeat="activity in activities track by activity.id"
                  ng-class="{ 'pos-row': activity.amount >= 0, 'neg-row': activity.amount < 0 }"
                  ng-click="editActivity($event, $index)">
        <div layout="row" layout-fill layout-padding>
            <div ng-attr-flex="{{ $mdMedia('gt-sm') && 15 || 33 }}" layout="row" layout-align="center">
                {{ activity.dateValue | date:'dd-MM-yyyy' }}
            </div>
            <div flex="15" layout="row" layout-align="center" ng-show="$mdMedia('gt-sm')">
                {{ activity.date | date:'dd-MM-yyyy' }}
            </div>
            <div ng-attr-flex="{{ $mdMedia('gt-sm') && 55 || 33 }}" layout="row" layout-align="start">
                {{ activity.concept }}
            </div>
            <div ng-attr-flex="{{ $mdMedia('gt-sm') && 15 || 33 }}" layout="row" layout-align="end">
                {{ activity.amount | currency : '€' }}
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
