<div flex id="totals">
    Income: {{ income || '-' }} Expenses: {{ expenses || '-' }} Total: {{ total || '-' }}
</div>

<md-toolbar class="md-hue-3">
    <div layout="row" class="md-toolbar-tools" layout-align="space-around center">
        <div flex="15" layout="row" layout-align="center">
            Date value
        </div>
        <div flex="15" layout="row" layout-align="center">
            Date
        </div>
        <div flex="55" layout="row" layout-align="center">
            Concept
        </div>
        <div flex="15" layout="row" layout-align="center">
            Amount
        </div>
    </div>
</md-toolbar>

<div id="activities-spinner" layout="row" layout-align="space-around" ng-hide="activities.length">
    <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
</div>

<md-list>
    <md-list-item ng-repeat="activity in activities track by activity.id" ng-class="{ pos: activity.amount >= 0, neg: activity.amount < 0 }" ng-click="editActivity($event, $index)">
        <div layout="row" layout-fill layout-padding>
            <div flex="15" layout="row" layout-align="center">
                {{ activity.dateValue | date:'dd-MM-yyyy' }}
            </div>
            <div flex="15" layout="row" layout-align="center">
                {{ activity.date | date:'dd-MM-yyyy' }}
            </div>
            <div flex="55" layout="row" layout-align="start">
                {{ activity.concept }}
            </div>
            <div flex="15" layout="row" layout-align="end">
                {{ activity.amount }} €
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
